*{margin:0;padding:0;box-sizing:border-box;font-family: 'Space Mono', monospace;}

:root{
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}
html{
    background-color: black;
}
body{
    margin: 0 auto;
    width: 375px;
    background-color: var(--light-grayish-cyan); 
}
header{
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    position: relative;
    border:0;
    text-align: right;
    background-color: inherit;
    padding: 5px;
    width: 90%;
    font-size: 24px;
    margin-right: 15px;
    color: var(--very-dark-cyan);
}
input:focus{
    border:0;
    outline:0;
}

.appContainer{
    background-color: var(--white);
    border-radius: 25px 25px 0 0;
}

.section{
    max-height: 500px;
    display:flex;
    justify-content: space-between;
    flex-flow: column nowrap;
}
.settingSection__box{
    padding-top: 25px;
    margin: 0% 8%;
}

.icon{
    margin-left: 20px;
}
.inputBox{
    position: relative;
    width: 100%;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--very-light-grayish-cyan);
}
.tipBox__box-custom:hover,
.inputBox:hover{
    outline:2px var(--strong-cyan) solid;
}
.inputName{
    color: var(--dark-grayish-cyan);
}
.inputName__setting{
    margin-bottom: 5px;
}
.numberOfPeople__error{
    position: absolute;
    font-size: 0.95rem;
    top: -30px;
    right: 0px;
    color: transparent;
}
.numberOfPeople__error-active{
    display: inline;
    color:orangered;
}
.tipBoxContainer{
    height: 150px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-content: space-between;
}
.settingSection__box:last-child{
    margin-bottom: 0;
    padding-bottom: 0;

}
.tipBox__box{
    background-color: var(--very-dark-cyan);
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: var(--white);
    font-size: 1.4rem;
    user-select: none;
}

.tipBox__box:hover:not(.tipBox__box-custom){
    background-color: var(--light-grayish-cyan);
    color: var(--very-dark-cyan);
}
.tipBox__box-checked{
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}
.tipBox__box-custom{
    background-color: var(--very-light-grayish-cyan);
}
.tipBox__box-custom input{
    background-color: transparent;
    caret-color: var(--strong-cyan);
}

.gettingSection__container{
    margin: 20px;
    padding: 25px;
    background-color: var(--very-dark-cyan);
    border-radius: 15px;
}
.gettingSection__box{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
}
.inputName__getting{
    color: var(--white);
}
.textPriceDivisor{
    font-size: 0.8rem;
    color: var(--grayish-cyan);
}
.gettingSection__box{
    margin-bottom: 20px;
}
.resolve{
    font-size: 1.8rem;
    color: var(--strong-cyan);
}
.reset__button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    color: var(--very-dark-cyan);
    user-select: none;
}
.reset__button-active{
    background-color: var(--strong-cyan);
}
.reset__button-active:hover{
    background-color: var(--light-grayish-cyan);
}
.reset__button-inactive{
    background-color: var(--dark-grayish-cyan);
}

footer{
    width: 100%;
    background-color: var(--white);
}
.attribution {
    width: 100%;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    display: inline;
    color: hsl(228, 45%, 44%);
}